body {
	background-color: #d6dbe5;
	margin:0;
	padding:0;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

hr {
	border: 0;
	border-top: 1px solid #000;
	padding: 0;
}

/* TEXT STYLING */

.centertext {
	text-align: center;
}

.errortext	{
	color: red;
}

.menytext {
	line-height: 0.2;
}

.submit {
	background-color: #9ba0a6;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline:0;
	font-weight: 700;
}

.submitready {
	background-color: #163ce1;
	font-weight: 700;
}

/* VIDEO RESPONSIVENESS */

.video-container {
	position:relative;
	padding-bottom:41.15%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* INPUTS*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #9ba0a6;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #9ba0a6;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #9ba0a6;
}

.currentLink {
   color: #163ce1;
}

a:link {color: black; text-decoration: none; display: inline-block;}
a:visited {color: black; text-decoration: none; display: inline-block;}
a:hover {color: #163ce1; text-decoration: none; display: inline-block;}
a:active {color: black; text-decoration: none; display: inline-block;}

.embed-container {
	position: relative;
	padding-bottom: 44%;
	height: 0;
	overflow:
	hidden;
	max-width: 1280px;
}

.embed-container iframe, .embed-container object, .embed-container embed
{ position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	margin-bottom: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
}

/* Create a custom radio button */
.radio {
	position: absolute;
	top: 1px;
	left: 0;
	border-radius: 50%;
	border: 2px solid #000;
}

.container:hover input ~ .radio {
	background-color: #9ba0a6;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radio {
	background-color: #163ce1;
}

/* Style the indicator (dot/circle) */
.container .radio:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#wrapper {
	border: 1px solid black;
	overflow: hidden; /* add this to contain floated children */
}
#left {

	float:left; /* add this */
	border: 1px solid red;
}
#right {
	border: 1px solid green;
	float: right; /* add this */
}

.navbar {
	background-color: #d6dbe5;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	font-weight: bold;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 9px;
	display: block;
}

.navbar a	{
		display: inline-block;

		padding-right: 2px;
	}

.navbar .menu-container {
	width: auto;
	height: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.menuwrapper	{
	display: table;
	width: 400px;
	margin: 0 auto;

}

.spalt {max-width: 330px; width: 100%; height: 100%; display: inline-block; }
.stats {max-width: 380px; width: 100%; height: 380px; display:block; padding-left: 0%; padding-right: 0%;}
.resultspacing {margin: 0 auto; height: 100%; width: auto; display: block; margin-bottom: 100px;}

.line	{color: black;
background-color: black;
height: 5px;}

/* MEDIAQUERYS */


/* Large desktop */
@media (min-width: 1200px) {
	#largeplayer {padding-left: 11%; padding-top: 0%; width: 76vw; height: 42.80vw;}
	#cinemaPlayer {width: 100%; height: 94%;}
	#player {width: 96%; height: 39%;}
	#next {margin-top: 1px;}
	.font {font-family: 'Zilla Slab', serif; font-size: 23px;}
	.textbox {margin-left: 31%; margin-right: 31%; margin-top: 3%;}
	.underline {line-height: 26px; border-bottom: 6px solid black; text-decoration: none; display: block; list-style-type: none; padding-top: 6px;}
	.email {height: 54px; padding: 12px; box-sizing: border-box; border: 3px solid black; background-color: inherit;}
	.emailwidth { width: 100%;}
	.results {width: 100%; margin: 0 auto; height: 100%; display: block; text-align: center;}
	.container {padding-left: 35px;}
	.radio {height: 22px; width: 22px; border: 3px solid #000;}
	.spacing	{height:6px; visibility:hidden;}
	.rubrik	{font-size: 60px; line-height: 56px; font-weight: bold; position: relative; bottom: 20px;}
	.page	{padding-top: 1%; padding-left: 1%; padding-right: 1%; margin-top: 80px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
	#largeplayer {padding-left: 2%; padding-top: 0%; width: 94.5vw; height: 53.30vw;}
	#cinemaPlayer {width: 100%; height: 95%;}
	#player {width: 96%; height: 39%;}
	#next {margin-top: 0px;}
	.font {font-family: 'Zilla Slab', serif; font-size: 25px;}
	.textbox {margin-left: 16%; margin-right: 16%; margin-top: 4%;}
	.underline {line-height: 26px; border-bottom: 7px solid black; text-decoration: none; display: block; list-style-type: none; padding-top: 6px;}
	.email {height: 54px; padding: 12px; box-sizing: border-box; border: 3px solid black; background-color: inherit;}
	.emailwidth {width: 100%;}
	.results {width: 100%; margin: 0 auto; text-align: center;}
	.container {padding-left: 35px;}
	.radio {height: 25px; width: 25px; border: 3px solid #000;}
	.spacing	{height:6px; visibility:hidden;}
	.rubrik	{font-size: 60px; line-height: 56px; font-weight: bold; position: relative; bottom: 20px;}
	.menuwrapper	{width: 60%;}
	.page	{padding-top: 1%; padding-left: 2%; padding-right: 2%; margin-top: 80px;}
	.resultspacing {margin-bottom: 40px;}
}

@media (min-width: 481px) and (max-width: 767px) {
	#largeplayer {padding-left: 1%; padding-top: 0%; width: 94.5vw; height: 53.30vw;}
	#cinemaPlayer {width: 100%; height: 95%;}
	#player {width: 96%; height: 39%;}
	#next {margin-top: 45px;}
	.font {font-family: 'Zilla Slab', serif; font-size: 22px;}
	.textbox {margin-left: 9%; margin-right: 9%; margin-top: 6%;}
	.underline {line-height: 26px; border-bottom: 7px solid black; text-decoration: none; display: block; list-style-type: none; padding-top: 6px;}
	.email {height: 54px; padding: 12px; box-sizing: border-box; border: 3px solid black; background-color: inherit;}
	.emailwidth { width: 100%;}
	.results {width: 100%; margin: 0 auto; text-align: center;}
	.container {padding-left: 35px;}
	.radio {height: 22px; width: 22px; border: 3px solid #000;}
	.spacing	{height:6px; visibility:hidden;}
	.rubrik	{font-size: 60px; line-height: 56px; font-weight: bold; position: relative; bottom: 20px;}
	.menuwrapper	{width: 100%;}
	.page	{padding-top: 1%; padding-left: 1%; padding-right: 1%; margin-top: 80px;}
	.resultspacing {margin-bottom: 40px;}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	#largeplayer {padding-left: 1%; padding-top: 0%; width: 94.5vw; height: 53.30vw;}
	#cinemaPlayer {width: 100%; height: 86%;}
	#player {width: 96%; height: 39%;}
	#next {margin-top: 1px;}
	.font {font-family: 'Zilla Slab', serif; font-size: 20px;}
	.textbox {margin-left: 2.5%; margin-right: 2.5%; margin-top: 4%;}
	.underline {line-height: 23px; border-bottom: 6px solid black; text-decoration: none; display: block; list-style-type: none; padding-top: 6px;}
	.email {height: 54px; padding: 12px; box-sizing: border-box; border: 3px solid black; background-color: inherit;}
	.emailwidth { width: 100%;}
	.results {width: 100%; margin: 0 auto; height: 100%; display: block; text-align: center;}
	.container {padding-left: 30px;}
	.radio {height: 21px; width: 21px; border: 2px solid #000; top: 1px;}
	.spacing	{height:6px; visibility:hidden;}
	.rubrik	{font-size: 47px; line-height: 45px; font-weight: bold; position: relative; bottom: 20px;}
	.menuwrapper	{width: 100%;}
	.page	{padding-top: 1%; padding-left: 1%; padding-right: 1%; margin-top: 80px;}
	.resultspacing {margin-bottom: 40px;}
}
